

.banner{
  height: 100vh;
  background-size: cover ;
  background-position: center;
}
.header{
  margin: auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-size: cover ;
 
}

.userlogo{
  padding-left: 20px;
  padding-top: 20px;
}


.sitelogo{
  padding-left: 610px;
  padding-top: 20px;
}

.searchbar{
 

  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 20px;
  
  
}

.searchicon{
  padding-top: 27px;
  padding-left: 18px;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: left;
  width: 100%;
}
nav{
  flex: 1;
  text-align: left;
  padding-left: 420px;
 
}
nav ul li{
  
  font-size: 23px;
  display: inline-block;
  margin-left: 80px;
  text-decoration-line:none;
  
}
.cover{
  height: 85%;
  display: grid;
  padding-left:20px;

  grid-template-rows: 550px;
  grid-template-columns: 1030px;
  column-gap: 15px;
}

.cart {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  padding-top: 35px;
  padding-left: 50px;
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.cart-count {
  background-color: #ff5733;
  color: white;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
